<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" href="../static/base.css">
</head>
<body>
    <!-- <div class="home-bar">
        <div class="search-container">
            <form action="/search" method="POST">
                <input type="text" name="search" placeholder="Search...">
                <div class="search-icon">
                    <img src="../static/images/magglass.png" alt="search-icon">
                </div>
        </div>
    </div> -->
    <!-- <div id="search">
        <div class="search-content">
            <form>
                <div class="search-icon">
                    <i class="material-icons">search</i>
                </div>
                <input type="text" autocomplete="off" name="keyword" placeholder="Enter keywords..." class="form-control search-input">
            </form>
            <div class="nav search-result-pop search-suggest"></div>
        </div>
    </div> -->
    <div id="header">
        <div class="container">
            <div id="mobile_menu">
            <i class="material-icons">menu</i>
        </div>
        <a href="/" id="logo" title="Homepage">
            <img src="../static/images/logo.png" title="Homepage" alt="Homepage"></a>
            <div id="search">
                <div class="search-content">
                    <form>
                        <div class="search-icon">
                            <i class="material-icons">search</i>
                        </div>
                        <input type="text" autocomplete="off" name="keyword" placeholder="Enter keywords..." class="form-control search-input">
                    </form>
                    <div class="nav search-result-pop search-suggest"></div>
                </div>
            </div>
            <div id="header_right">
            <div id="user-slot">
        <div class="header_right-user">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#modallogin" class="btn btn-sm btn-on-header btn-login"><i class="material-icons mat-icon mr-2">person</i> Login</a>
        </div>
    
    </div></div> <div class="clearfix"></div></div></div>
    <div class="category">
        <h2>Trending now</h2>
    </div>
    <div class="movie-container">
        <div class="l-nav-b">
            <img src="../static/images/l-nav-arrow.png" alt="l-arrow">
        </div>
        <div class="movie">
            <img src="{{ photo }}" alt="Movie Poster">
            <h3>{{ movie }}</h3>
        </div>
        <div class="movie">
            <img src="{{ photo }}" alt="Movie Poster">
            <h3>{{ movie }}</h3>
        </div>
        <div class="movie">
            <img src="{{ photo }}" alt="Movie Poster">
            <h3>{{ movie }}</h3>
        </div>
        <div class="movie">
            <img src="{{ photo }}" alt="Movie Poster">
            <h3>{{ movie }}</h3>
        </div>
        <div class="movie">
            <img src="{{ photo }}" alt="Movie Poster">
            <h3>{{ movie }}</h3>
        </div>
        <div class="movie">
            <img src="{{ photo }}" alt="Movie Poster">
            <h3>{{ movie }}</h3>
        </div>
        <div class="r-nav-b">
            <img src="../static/images/r-nav-arrow.png" alt="r-arrow">
        </div>
    </div>


</body>
</html>